body {
  padding: 0.4rem;
}

* {
  font-size: 10px;
}

section{
  width: 100%;
  padding: 10px;
  min-height:calc(100vh - 80px);
}

section .form_data{
  max-width: 550px;
  margin: 25px auto;
  padding: 35px 10px;
  box-shadow: 0 0 15px -10px #2d3748;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_data h1{
  font-size: 34px;
  color: #2a4365;
}

.form_data p{
  color: #718096;
  font-size: 15px;
  margin-top:9px;
}

.form_data form{
  margin-top: 45px;
  width: 100%;
  padding: 10px 50px;
}

.form_data form .form_input input{
  width: 100%;
  padding: 11px;
  border: 1px solid #d4d0d0;
  border-radius: 5px;
  outline: none;
  margin-bottom: 14px;
  margin-top: 9px;
  font-size: 14px;
  
}

.form_data form .form_input label{
  font-weight: 600;
  font-size: 1.7rem;
}

.form_input .two{
  display: flex;
  align-items: center;
  position: relative;
}

.form_data form .form_input input:focus{
  border:2px solid rgba(66, 153, 225,0.6);
}


.form_data form .form_input input::placeholder{
  color: #8694a8;
  letter-spacing: .5px;
  font-size: 14px;
}

.form_input .showpass{
  position: absolute;
  right: 0;
  top:1px;
  padding: 7px 10px;
  margin-right: 5px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #2a4365;
  background-color: #EDF2F7;
  border-radius: 5px;
  cursor: pointer;
}

form .btn{
  display:block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color:#501d71;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: all .3s;
}


form .btn:hover{
  background-color: #6b3092;
  color: #fff;
}

.form_data form p{
  text-align: center;
  margin-top: 20px;
}

.form_data form a{
  text-decoration: none;
  color:#718096 ;
  border-bottom: 2px solid #8694a8;
}


header{
  width: 100%;
  height: 80px;
  box-shadow: 0 0 10px -7px rgba(0,0,0,0.7);
}

header nav{
  max-width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav h1{
  color:#2d3748;
}

table {
  margin-top: 2.5rem;
  box-shadow: 5px 5px 9px rgb(142, 140, 140);
}

th, td {
  font-size: 1.7rem;
}


.logout-btn {
  color: #EDF2F7;
  background-color: rgb(223, 13, 13);
  border: none;
  font-size: 17px;
  padding: 5px 12px;
  border-radius: 5px;
}

.logout-btn:hover {
  color: rgb(223, 13, 13);
  background-color: #EDF2F7;
  border: 1px solid rgb(223, 13, 13);
}

.dash-btn {
  color: #000000;
  background-color: rgb(187, 241, 241);
  border: none;
  font-size: 17px;
  padding: 5px 12px;
  border-radius: 5px;
  margin: 0 10px;
}

.dash-btn:hover {
  color: #000;
  background-color: rgb(122, 235, 235);
  border: 1px solid #000;
}

.link {
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  header nav h1 {
    font-size: 3rem;
  }
  header {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }

  header nav {
    flex-direction: column;
    gap: 0.7rem;
  }

  .form_data .form_heading h1 {
    font-size: 2.9rem;
    margin: 0.8rem 0;
  }

  th, td {
    font-size: 1.1rem;
  }
}